*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(24, 26, 27);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}